.searchbar{
    padding: 1rem;
    width: 300px;
    font-size: 1.2rem;
    // make a beatiful search bar
    background-color: white;
    border-radius:30px;
    border: solid 3px #1e90ff;
    display: flex;
    justify-content: space-between;
    input{
        font-size: 1.2rem;
        border: none;
        background-color: inherit;
        outline: none;
    }
}
.noHeight{
    height: 0;
}
.styledItems{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
    background-color: #faf7f7;
   
    border-radius: 10px;
    transition: height 0.5s ease-in-out;
    .item{
       padding: 0.5rem;
       border-radius: 10px;
      &:hover{
        background-color: #1e90ff;
        color: white;
      }
    }
    a{
        font-weight: 600;
        text-decoration: none;
        color: #1e90ff;
    }
}