.App{
  max-width: 100vw;
}
.App-header{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 0px 0px 15px 15px;
  align-items: center;
  margin-bottom: 2rem;
  a{
    text-decoration: none;
    color: inherit;
  }
  .logo{
    font-size: 2rem;
    font-weight: 700;
    &:hover{
      cursor: pointer;
    
    }
  }
  .menu{
    .item{
      font-size: 1.2rem;
      padding: 0.5rem;
      &:hover{
      background-color: white;
      border-radius: 10px;
      color:black;
    }
    }
  }
}
.menu{
  display: flex;
  gap: 2rem;

}