.container{
    max-width: 75%;
    margin: auto;
    .info{
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center; 
            .title{
                font-size: 2rem;
                font-weight: 700;
            }
            .genres{
                color: #1e90ff;
                font-weight: 500;
            }
            .rating{
                color: #1e90ff;
                font-weight: 600;
            }
            .outOf{
                color: #b5bdc5;
                font-weight: 500;
            }
        }


        .body{
            display: flex;
            gap: 2rem;
            .plot{
                .plotTitle{
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                margin-bottom: 1rem;
            }
            .otherInfo{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                
                a{
                    color: #1e90ff;
                    font-weight: 600;
                    text-decoration: underline;
                    
                }
                .margin{
                    margin-bottom: 1rem;
                }
                .otherInfoLeft{
                    display: flex;
                    flex-direction: column;
                }
                .column .fieldContent{
                    display: flex;
                    flex-direction: column;
                   
                }
                .lastColumn .fieldContent{
                    display: flex;
                    flex-direction: column;
                }
                .lastColumn{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                   
                }
                .fieldTitle{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .fieldContent{
                    color:#1e90ff;
                    font-weight: 500;
                    gap: 0.4rem;
                }
                
            }
            .homepage{
                background-color: white;
                border: black solid 2px;
                width: fit-content;
                padding: 0.5rem 1rem;
                border-radius: 20px;
               
                transition: background-color 0.3s;
                a{
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                }
                &:hover{
                    cursor: pointer;
                    background-color: black;
                    a{
                        color: white;
                    }
                }
            
            }
        }
        .image{
            max-width: 300px;
            max-height: 500px;
            border-radius: 10px;
            transition: transform 0.3s;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 10px;
            }
            &:hover{
                transform: scale(1.05);
            }
        }
    }

}
.details{
    position: relative;
}